/* Area Konten (Scrollable) */
.content {
  flex: 1;
  overflow-y: auto; /* Konten bisa discroll */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  padding-top: 80px; /* Sesuaikan dengan tinggi navbar */
  overflow-y: auto;
}